a{
    color: black !important;
    font-weight:500;
}
.active{
    color: #0369f7d4 !important;
    border-bottom: 2px solid #0369f7d4 !important;
}
.nav{
    /* border:1px solid #CCC !important; */
    padding: 0 12px !important;
}
